{% extends 'LibTrade/base.html' %}

{% load bootstrap4 %}
{% block content %}

<h1 class="text-center samurai font-italic page-header"> Tagged Repository  </h1>

<div class="container-fluid padding">
{% for book in books %}

{% if forloop.counter0|divisibleby:4 %} <div class="row text-center"> {%  endif %}

    <div class="col-md-3">
      <div class="card">
				<img class="card-img-top" src="{{ book.image.url }}">
				<div class="card-body">
					<h4 class="card-title">{{book.name}}</h4>
					<p class="card-text"> Author: {{book.author}} | Owner: {{book.owner}}
            {% if book.owner.is_librarian %}
            | <span class="bg-warning text-muted"> Library-item </span>
            {% endif %}
            </p>
          <p>
          {% for tag in book.tags.all %}
            <a href="{% url 'accounts:taglist' slug=tag.slug %}" class="btn btn-outline-info"> {{tag}} </a>
          {% endfor %}
          </p>
					<a href="{% url 'accounts:reqtrade' slug=book.slug %}" class="btn btn-outline-secondary">Req Trade</a>
				</div>
			</div>
    </div>
    {%  if forloop.counter|divisibleby:4 or forloop.last %}</div><!-- row closing --><hr>{%  endif %}


{% endfor %}
</div>


{% endblock %}
<!-- <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">My Books </a></li> -->

<!-- <a href="{% url 'teachers:quiz_change_list' %}" class="btn btn-outline-secondary" role="button">Nevermind</a> -->
