{% extends 'LibTrade/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid py-3">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Confirm Request</li>
    </ol>
  </nav>


  <p class="lead">Are you sure you want to request the book <strong>"{{ book.name }}"</strong>? </p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-lg">Yes, I'm sure</button>
    <a href="{% url 'accounts:booklist' %}" class="btn btn-outline-secondary btn-lg" role="button">Nevermind</a>
  </form>
  </div>
{% endblock %}
 
